<ng-container *ngIf="!loading(); else loadingState">
  <div
    *ngIf="isRoot() || kitchen(); else noKitchenFound"
    class="animate-in fade-in duration-500"
  >
    <router-outlet></router-outlet>
  </div>

  <ng-template #noKitchenFound>
    <app-kitchen-not-found></app-kitchen-not-found>
  </ng-template>
</ng-container>

<ng-template #loadingState>
  <div
    class="min-h-[100dvh] flex flex-col items-center justify-center bg-gray-50 px-6"
  >
    <div
      class="w-16 h-16 border-4 border-orange-100 border-t-orange-600 rounded-full animate-spin mb-4"
    ></div>

    <h2 class="text-lg font-bold text-gray-900">Loading LiveMenu...</h2>

    <div
      *ngIf="showHelp()"
      class="mt-8 animate-in fade-in slide-in-from-bottom-2 duration-700"
    >
      <div
        class="bg-white p-4 rounded-2xl shadow-sm border border-gray-100 text-center max-w-xs"
      >
        <p class="text-sm text-gray-600 mb-2">Taking longer than expected?</p>
        <button
          onclick="window.location.reload()"
          class="text-xs font-black text-orange-600 uppercase tracking-wider hover:underline"
        >
          Refresh Page
        </button>
      </div>
    </div>
  </div>
</ng-template>
<app-ui-toast></app-ui-toast>
<app-confirmation-modal></app-confirmation-modal>
