services:
  postgres-db:
    image: 'postgres:17'
    container_name: postgres_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: livemenu_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: