spring:
  application:
    name: menu-service

  datasource:
    url: jdbc:postgresql://localhost:5432/hellokitchens
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
