/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";

/* global styles */
html,
body {
  min-height: 100%;
  background-color: #f9fafb;
  scroll-padding-top: 80px;
  scroll-behavior: smooth;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.grecaptcha-badge {
  visibility: hidden !important;
}
